<<<<<<< HEAD
.cabecera{
    height: 150px;
    width: 100%;
    background-color: red;
    display: flex;
    justify-content: center;
}
h1{
    text-align: center;
    color: white;
}
=======




















#cap1 {
    padding-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}
h2{ 
    text-align: center;
    color:red;
}

>>>>>>> capitulo1























#cap2{
    margin-left: 50px ;
    margin-right: 50px;
    padding-top: 50px;
